# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
cmake-build-debug
cmake-build-release
CMakeFiles
CMakeScripts
_deps
.idea
.vscode
Debug
CPackConfig.cmake
CPackSourceConfig.cmake
.DS_Store
include